.class-container{
  border-radius: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: #2b5baa;
  width: 180px;
  height: 200px;
  overflow: hidden;
}

.class-header{
  background-color: #2b5baa;
  border-width: 4px;
  border-style: solid;
  border-color: #2b5baa;
  color: white;
}
